html {
	height:100%;
	overflow-y:scroll;
}
body {
	font-family:Cantarell,Ubuntu,sans-serif;
	font-size:16px;
	background:#eee;
	margin:0;
	min-height:100%;
	overflow:hidden;
}
h1 {
	margin:0 0 0.5em 0;
	font-size:1.7em;
}
.sidebar {
	text-align:right;
	color:#fc3;
	background:#111;
	padding:2% 2% 9999px 2%;
	margin-bottom:-9999px;
	width:23%;
	float:left;
	overflow:hidden;
}
.sidebar ul {
	font-size:0.9em;
	font-weight:bold;
	text-transform:uppercase;
	margin:1em 0 0 0;
}
.sidebar li {
	list-style-type:none;
	line-height:1.5em;
}
.sidebar a {
	color:#999;
	text-decoration:none;
}
.sidebar a:hover { color:#fff; }
.main {
	color:#000;
	padding:2% 2% 9999px 2%;
	margin-bottom:-9979px;
	width:69%;
	float:left;
	overflow:hidden;
}
.main h1 {
	-webkit-text-stroke:1px;
	color:#666;
}
.main p {
	font-size:0.75em;
	line-height:1.5em;
	margin:0;
}
.main p.stats {
	color:#666;
}
.main span.status {
	font-size:0.9em;
	text-align:center;
	margin:0.15em 0;
	display:block;
	float:left;
	min-width:2em;
}
.main span.text {
	/*white-space:nowrap;*/
	margin:0.15em 0.5em;
}
.main span.pass {
	color:#fff;
	background:#090;
}
.main span.fail {
	color:#fff;
	background:#c00;
}
.main img {
	border:0;
	margin:1em 0;
}
.main br {
	clear:both;
}
@media screen and (max-width:720px) {
	body {
		font-size:0.8em;
	}
}
