body,input,button,select,textarea {
	font:11pt/1.5em "Lucida Grande","Lucida Sans Unicode",sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	background-color:#FFFEF0;
}

p {
	color:#111;
	font-weight:300;
	padding:0 0 0.8125em 0;
}
p.first:first-letter {
	font-family:Baskerville,"Palatino Linotype",serif;
	font-size:3em;
	font-weight:700;
	line-height:1em;
	margin-bottom:-0.2em;
	padding:0.2em 0.1em 0 0;
	float:left;
}

h1,h2,h3,h4,h5,h6 {
	font-family:Georgia,serif;
	font-weight:normal;
	color:#333;
}

h1 {
	color:#000;
	font-size:2.125em;
	margin:0.765em 0;
}
h2 {
	color:#333;
	font-size:1.9em;
	margin:0.855em 0;
}
h3 {
	color:#666;
	font-size:1.7em;
	margin:0.956em 0;
}
h4 {
	color:#999;
	font-size:1.4em;
	margin:1.161em 0;
}
h5,h6 {
	color:#ccc;
	font-size:1.313em;
	margin:1.238em 0;
}

ul,ol {
	list-style-position:outside;
	padding:0 3em;
	margin:0 0 1.5em 0;
}
li ul,li ol { margin:0 1.5em; }

dl { margin:0 0 1.5em 0; }
dl dt { font-weight:bold; }
dl dd { margin-left:1.5em; }

a {
	text-decoration:none;
	color:#005AF2;
}

input[type="text"],input[type="password"],select,textarea {
	border:1px solid #ccc;
	max-width:100%;
	width:100%;
}
input[type="file"] { background:transparent; width:100%; }

textarea {
	line-height:1.5em;
	height:9em;
}

table {
	border-collapse:collapse;
	margin-bottom:1em;
	width:100%;
}
th { font-weight:bold; }
tr,th,td {
	vertical-align:text-top;
	padding:0.5em 1em 0.5em 1em;
	margin:0;
	height:26px;
}
tfoot { font-style:italic; }
caption {
	font-family:Georgia,serif;
	text-align:center;
}

abbr,acronym { border-bottom:1px dotted #000; }
address {
	font-style:italic;
	margin-top:1.5em;
}
del {color:#000;}

blockquote {
	font-family:Georgia,serif;
	font-style:italic;
	padding:1em 1em 1.5em 1em;
}
blockquote:before {
	font-family:Georgia,serif;
	font-size:3em;
	color:#aaa;
	content:"\201C";
	margin-left:-.625em;
	line-height:0;
}
blockquote > p {
	padding:0;
	margin:0;
}

strong { font-weight:bold; }
em,dfn { font-style:italic; }
dfn { font-weight:bold; }
pre,code {
	margin:1.5em 0;
	white-space:pre;
}
pre,code,tt {
	font:1.2em monospace;
	line-height:1.5;
}
tt {
	display:block;
	margin:1.5em 0;
}
hr { margin-bottom:1.5em; }

small {
	text-transform:uppercase;
	letter-spacing:1px;
}
